* {
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    text-align: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#controls {
    display: inline-block;
    text-align: left;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    opacity: 0.5;
}

#controls:hover {
    opacity: 1;
}